@model Employee

<div class="container">
    <h2>Бонусы сотрудника</h2>
    <p>Сотрудник: @Model.FirstName @Model.LastName</p>
    <p>Основная зарплата: @Model.Salary ₽</p>
    <p>Бонусы: @Model.Bonus ₽</p>
</div>