@model User

<div class="login-container">
    <form class="login-form" asp-action="Login" method="post">
        <h2>Вход</h2>
        <p>Нет учётной записи? <a asp-action="Register">Зарегистрируйтесь здесь</a>.</p>
        <div>
            <input type="text" name="username" placeholder="Логин" required />
        </div>
        <div>
            <input type="password" name="password" placeholder="Пароль" required />
        </div>
        <button type="submit">Войти</button>
    </form>
</div>